*{
    margin: 0 auto;
}

body{
    height: 100vh;
    
}

form{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}

input button{
    padding: 8px;
    margin-left: 10px;
}

table{
    width: 80%;
}

table, th, td{
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;;
}

button{
    cursor: pointer;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0,0.4);
}

.modal-content{
    background-color: #fff;
    display: block !important;
    margin: 15px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 88%;
    max-width: 500px;
    border-radius: 5px;
    margin-top: 50px;

}

.close-modal{
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    color: #aaa;
    line-height: 20px;
}

.close-modal:hover{
    color: #000;
}